
%form{ :action => ".", :role => "application"}
	%div
		%label{:for => "base-size"} Base font size
		%input{:name => "base-size", :id => "base-size", :type => "number", :min => "1", :value => @base_size, :size => "3"}
		%span.note px
	%div
		%label{:for => "element-size"} Element font size font size
		%input{:name => "element-size", :id => "element-size", :type => "number", :min => "1", :value => @element_size, :size => "3", :autofocus => true}
		%span.note px
	%div
		%label{:for => "result-precision"} Precision
		%input{:name => "result-precision", :id => "result-precision", :type => "number", :min => "0", :max => "7", :value => @result_precision, :size => "3"}
		%span.note decimal places

	%input{:type => "submit", :value => "Do it"}
	%p#result{:style => "font-size:" + @base_size.to_s + "px"}<
		font-size:&nbsp;
		%span{:style => "font-size:" + @em_size + "em"}<>= @em_size
		em;
	%p{:title => "just in case you don't trust my Math() skills"}<
		Computed font-size:&nbsp;
		%span#computed-result<>= @element_size.to_s + "px"

